@import "tailwindcss";

@theme {
  --color-background: #0D0A10;
  --color-background-dark: #16121C;

  --color-primary: #E6D5B8;
  --color-secondary: #6D604A;

  --color-accent: #2EE56B;
  
  --font-serif: "Noto Serif TC", "serif";
  --font-sans: "Noto Sans TC", "sans-serif";
}

@layer base {
  body {
    background-color: var(--color-background);
    color: var(--color-primary);
    font-family: var(--font-sans);
  }
}

::selection {
  background-color: var(--color-accent);
  color: var(--color-background);
}

::-webkit-scrollbar {
  width: 4px;
}

::-webkit-scrollbar-thumb {
  background-color: var(--color-background-dark);
  border: 1px solid var(--color-secondary);
  border-radius: 4px; 
}